/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    background: url(../img/login/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wrapper {
    position: relative; /*ensure relative position for this box*/
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
  }

  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative; /* Added this to make icons position relative to this box */
  }

  /*close button */
  .wrapper form span{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    font-size: 3em;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
  }
  
  /*input field and icons*/
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 20px; /* Adjusts icon to the right */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff; /* Optional: make sure the icon is visible */
  }
  
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
  }
  
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .wrapper .register-link {
    font-size: 14.5px;
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    form {
      width: 90%;
    }
  }
  