<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <div class="dashboard-container">
      <h2>Welcome to the Admin Dashboard</h2>
      <nav>
        <ul>
          <li><a href="/admin/manage-books">Manage Books</a></li>
          <li><a href="/admin/manage-categories">Manage Categories</a></li>
          <li><a href="/admin/manage-genres">Manage Genres</a></li>
          <li><a href="/admin/manage-users">Manage Users</a></li>
          <li><a href="/admin/manage-orders">Manage Orders</a></li>
        </ul>
      </nav>
      <div class="admin-actions">
        <button><a href="/admin/logout">Logout</a></button>
      </div>
    </div>
  </body>
</html>
