<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Books</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <div class="manage-books-container">
      <h2>Manage Books</h2>
      <button><a href="/admin/books/new">Add New Books</a></button>
      <table>
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Stock Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="books-list"></tbody>
      </table>
    </div>
    <script src="/js/admin.js"></script>
  </body>
</html>
